body {
    background-image: linear-gradient(black 100px, #8b8b8b, black);
    height: 100vh;
    margin: 0px;
    padding: 0px;

}

::-webkit-scrollbar {
    width: 0px;
  }
  
.container {
    flex-direction: column;
    height: 100vh;
}

.title {
    color: #ffffff;
    font-family: 'roboto mono';
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .subtitle {
    color: #ffffff;
    font-family: 'roboto mono';
    font-size: 30px;
  }

.wrap {
    text-align: center;
}

.card-wrapper {
    display: flex;
    height: 50vh;
    width: 98vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -100px;
}

.card {
    background-color: #222222;
    border-radius: 20px;
    overflow: hidden;
    width: 500px;
    height: 500px;
    font-family: roboto mono;
    color: white;
    align-items: center;
    transition: transform 0.5s;
}

.card1 {
    position:absolute;
    margin: 40px;
    left: 0px;
}

.card2 {
    position: absolute;
    margin-top: 40px;
    margin-left: 15.5px;

}

.card3 {
    position: absolute;
    margin: 40px;
    right: 0px;
}

.card:hover {
    z-index: 1;
    transform: scale(1.1);
    transform-origin: center;
}

.coming-soon {
    margin-top: 25%;
}

.cardlink {
    display: flex;
    text-decoration: none;
    color: white;
    width: 500px;
    transition: width 0.5s;
    height: 0px;
}

a:hover {
    width: 600;
}

.card-img {
    width: 330px;
}

.card .content {
    padding: 16px;
}

.card p {
    margin: 8px 0;
}

.githubimg {
    width: 100px;
    margin: 0px;
    margin-top: 30px;
    border-radius: 35%;
}

/* @media screen and (max-width: 1600) {
    .card {
        margin: 0px;
    }
} */
